<!DOCTYPE html>
<html>
<head>
  <style>
/*Goes into Chat.css*/
  .brn{
    margin:  20px;
  }

  .placeHolder {
  margin:auto;
  position:relative;
  border-radius: 25px;
  background: url('http://i.imgur.com/mSseDrs.jpg');
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-repeat: repeat;
  height: 800px;
  width:  800px;
}
  .center{
    margin:auto;
  }
  .wrapper {
    text-align: center;
  }
  .button {
    position: absolute;
    top: 50%;
   }


.panel-heading
{
    background-color: #FAFAFA;

}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;

}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #FAFAFA;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #FAFAFA;

}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;

}

.panel-body
{
    overflow-y: scroll;
    height:100px;

}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#FAFAFA;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #FAFAFA;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FAFAFA;
}

/*Goes into PlayersPlacement.css once I can figure it out*/

#player1{
    padding-left:  365px;
}

#player0{
    padding-left: 365px;
    padding-top: 250px;
}

.col-md-6{
    padding-top: 10px;
}

.textBox{
    font-size: 20px;
}

#player2{
    padding-left: 70px;
}

#player3{
    padding-left: 630px;
}
  </style>
  <title>Deuces</title>

  <script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>
<body>
<!--NavBar-->
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
	<li><a href="login.html.erb">Login/Register</a></li>
      </li>
    </ul>
  </div>
</nav>

<!--Game board-->
<div class = "container">
  <hr>
  <div class="row">
    <div class="placeHolder">
      <h1 style="text-align:center; font-size:30px; color:#FFF; padding-top: 10px;">Deuces</h1>


<!--Additional players -->
                <div class="row">
                    <div class="col-md-12">
                        <div id='player1' class='playingfield'>
                            <div class='textBox name' style="color: #fff;">Player</div>
                            <div id='player1Score' class='textBox'>&nbsp;</div>
                            <div id='player1Bet' class='textBox'>&nbsp;</div>
                            <div id='player1Result' class='textBox'>&nbsp;</div>
                            <div id='player1Cards' class='cardArea'></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id='player2' class='playingfield'>
                            <div class='textBox name' style="color: #fff;">Player</div>
                            <div id='player2Score' class='textBox'>&nbsp;</div>
                            <div id='player2Bet' class='textBox'>&nbsp;</div>
                            <div id='player2Result' class='textBox'>&nbsp;</div>
                            <div id='player2Cards' class='cardArea'></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id='player3' class='playingfield'>
                            <div class='textBox name' style="color: #fff;">Player</div>
                            <div id='player3Score' class='textBox'>&nbsp;</div>
                            <div id='player3Bet' class='textBox'>&nbsp;</div>
                            <div id='player3Result' class='textBox'>&nbsp;</div>
                            <div id='player3Cards' class='cardArea'></div>
                        </div>
                    </div>
                </div>
                <!--Additional Player's-->

                <!--Main player's area-->
                <div class="row">
                    <div class="col-md-12">
                        <div id='player0' class='playingfield'>
                            <div class='textBox name' style="color: #fff;">Player</div>
                            <div id='player0Score' class='textBox'>&nbsp;</div>
                            <div id='player0Bet' class='textBox'>&nbsp;</div>
                            <div id='player0Result' class='textBox'>&nbsp;</div>
                            <div id='player0Cards' class='cardArea'></div>
                        </div>
                    </div>
                </div>
                <!--Main Player's Area-->

<!--Chatbox-->
      <div style="height:100px;width:104%;left:-16px;top:0px;position:relative;"class="container">
          <div class="row">
              <div class="col-md-5">
                  <div class="panel panel-primary">
                      <div class="panel-heading" id="accordion">
                          <span class="glyphicon glyphicon-comment"></span> Chat

                      </div>
                      <div class="panel-body">

                      </div>
                      <div class="panel-footer">
                          <div class="input-group">
                              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send</button>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    </div>

  </div>
</div>

</body>
</html>
