<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Deuces Card Game</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header" style="padding-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="margin: 10px; align-items: center;">
                    <h1 class="tagline" style="align-text: center;">Welcome to an online card game called Deuces</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>How to play</h2>
                <p>The game is named Deuces after the fact that twos are the largest valued cards in the game.  The deck is split evenly between each player.  The order of the suit card from lowest to highest is diamond, clover, heart, then spades.  The player with lowest value 3 of diamonds must go first.  Their first move must incorporate the 3 of diamonds.  The current player in power can play a single, double, triple, quadruples, or any 5 combination card (which are the same as a poker hand. For information about poker hands <a href="https://en.wikipedia.org/wiki/List_of_poker_hands">click here</a>).  Everyone else following that player must play the same type of combo.</p>
                <p>For example, if a player plays a straight then the following players must play a 5 combo that is higher than the pervious player until no one can beat the last played cards.  Then the player that played the highest cards that no one can beat has the power.  Repeat until one player gets rid of their hand.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="joingame">Start New Game As Guest &raquo;</a>
                </p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row1">
            <div class="col-sm-4">
              <div id="floatingJoin">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/x2nh36x.png" alt="">
                <h3>Game #1</h3>
                <p>Open.</p>
		<a href=""><h2>Join Game</h2></a>
              </div>
             </div>
            <div class="col-sm-4">

                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/x2nh36x.png" alt="">
                <h3>Game #2</h3>
                <p>Closed.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://i.imgur.com/x2nh36x.png" alt="">
                <h3>Game #3</h3>
                <p>Closed.</p>
                <br><br><br><br><br>
            </div>
        </div>

        <hr>



    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag "conversations"%>
<%= javascript_include_tag('conversation.js') %>

</body>

</html>
