#player1{
    padding-left:  455px;
}

#player0{
    padding-left: 455px;
    padding-top: 70px;
}

.col-md-6{
    padding-top: 170px;
}

.textBox{
    font-size: 30px;
}

#player2{
    padding-left: 70px;
}

#player3{
    padding-left: 330px;
}
